#Cards-Container {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  top: 15%;
}

#Add-Alarm-Button {
  position: fixed;
  top: 5%;
  right: 2%;
  margin: 2%;
}

#Edit-Button {
  position: fixed;
  top: 5%;
  left: 2%;
  margin: 2%;
}